html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    animation: fade-in 700ms ease-in-out both;
}

:root {
    --page-art: url("../resources/images/header-banner.png");
    --page-art-size: 120%;
    --page-art-position: right 35%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(5px, 10px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Header */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*background-color: #1e93c9;*/
    border: 1px solid black;
    border-radius: 5px;
    background-clip: border-box;
    background-image: var(--page-art);
    background-size: var(--page-art-size);
    background-repeat: no-repeat;
    background-position: var(--page-art-position);
}

header .title img {
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h3 {
    margin: 0;
    margin-bottom: 3px;
    color: white;
}

.socials {
    display: inline-flex;   
    align-self: flex-end;
    align-items: center;
    padding: 3px 3px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: whitesmoke;
    opacity: 80%;
    margin: 5px;
    height: 50px;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.socials a:hover {
    background-color: #e3e4e5;
}

.socials img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: contain;
    transition: transform 0.25s ease;
}

.socials a:hover img {
    transform: scale(1.2);
}

/* Navbar */

nav {
    background-color: #1b6182;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px auto;
    max-width: fit-content;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: fit-content;
    padding: 0;
    margin: 0;
}

nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color:#1e93c9;
    transform: scale(1.1);
}

.gallery-page #gallery {
    text-decoration: underline;
}

.home-page #home {
    text-decoration: underline;
}

/* Main */

main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px auto;
}

main img {
    height: 185px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 7px;
}

.gallery-list {
    display: block;
}

.gallery-list figure {
    display: inline-block;
    height: 185px;
    margin: 10px auto;
}

.gallery-list figcaption a {
    color: black;
}

figcaption {
    text-align: center;
    color: black;
    font-weight: bold;
}